# NODE_ENV
NODE_ENV=local

# API
API_HOST=0.0.0.0
API_PORT=3000
LIMIT=15



# Database
DB_PORT=5432
DB_RESET=false
DB_NAME=impulsiveweb
DB_USER=impulsiveweb
DB_PASSWORD=Iweb123
DB_HOST=127.0.0.1


# JWT
JWT_PRIVATE_KEY=/keys/jwt-private.pem
JWT_PUBLIC_KEY=/keys/jwt-public.pem
JWT_EXPIRY=3h
JWT_REFRESH_EXPIRY=7d
JWT_ISSUER=akshay
JWT_ALGORITHM=RS256

#60,000 ms = 60 seconds
THROTTLE_TTL=60000 
THROTTLE_LIMIT=5